.gallery {
    .item {
        height: 300px;
        position: relative;
    }
    .background {
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .cboxElement {
        position: absolute;
        width: 100%;
        height: 100%;
    }
 }
